/*  your css code here. If applicable */
tr,th,td{
	border:1px solid #ccc;
}
th,tr{
	padding:8px;
	border-radius:5px;
}
tr:nth-child(odd){
	background:#f2f2f2;
}
tr:nth-child(even){
	background:#ffffff;
}
